body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin-left: 0;
}

/* styles.css (or any other styling file) */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  /* background-color: thistle; */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left-menu {
  display: flex;
  margin-left: 100px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-left-menu-item {
  margin-right: 10px;
}

.nav-left-menu-item:hover {
  color: blue;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  margin-right: 30px;
  font-size: larger;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.logo img {
  width: 40px;
  /* Adjust the logo size as needed */
  height: auto;
  margin-right: 10px;
  display: inline-block;
  margin-top: 15px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li:first-child {
  margin-right: 10px;
}

.navbar-links li:nth-child(3) {
  margin-right: 10px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #333333;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#logged-user-name {
  color: red;
}

#loggedInMenuIconAndName {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Add your other navbar styles here */

.hamburger-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1%;
}

.icon {
  width: 20px;
  height: 4px;
  background-color: #000;
  position: relative;
  transition: transform 0.3s;
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000;
}

.icon:before {
  top: -10px;
}

.icon:after {
  top: 10px;
}

.icon.open {
  /* transform: rotate(90deg); */
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: absolute;
  right: 1%;
  border: 1px solid black;
}

.option {
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  cursor: pointer;
  color: blue;
}

/* Add more styling as needed */

#MenuIcon {
  margin-left: 10px;
}

/* Add hover effect if desired */
.navbar-links li a:hover {
  color: #007bff;
}

.flights-link {
  text-decoration: none;
  margin-right: 10px;
}

.Trains-Link {
  text-decoration: none;
  margin-right: 10px;
}

.Hotels-Link {
  text-decoration: none;
  margin-right: 10px;
}

/* Offers.css */
.offers {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.image-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  margin-top: 10px;
}

.image-container img {
  width: 250px;
  /* Set the width of each image as per your requirements */
  height: 150px;
  /* Set the height of each image as per your requirements */
  object-fit: cover;
}

/* AboutUs.css */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  max-width: 80%;
  margin-bottom: 20px;
}

/* styles.css (or any other styling file) */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer .icons {
  display: flex;
}

.footer .icons a {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}

.footer .icons i {
  font-size: 24px;
}

/* You may need to import Font Awesome or any other icon library for the icons to work properly */

/* Booking.css */
.booking {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-group label {
  margin-right: 5px;
}

.search-group input[type="text"],
.search-group input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

/* Optional: Add styles to adjust the component's width or spacing as needed */

.Flight-Card {
  display: flex;
  justify-content: space-around;
}

.Card {
  display: inline-block;
  margin-right: 180px;
  margin-left: 150px;
}

.Card-content {
  display: flex;
}

#Card-Img {
  border-radius: 8px;
  /* height: 160px;
    width: 250px; */
}

.Fare-Date {
  margin-left: 110px;
}

#top-flights-title {
  text-align: center;
}

.container {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-title {
  display: flex;
  position: absolute;
  top: 10%;
  left: 38%;
  color: white;
  font-size: x-large;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#icici-img {
  width: 90%;
  height: 10%;
  position: absolute;
  top: 25%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-box {
  /* display: flex;
    align-items: center; */
}

.search-box input[type="text"],
.search-box input[type="date"],
.search-box button {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.search-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Optional: Style for the search box inputs */
.search-box input[type="text"],
.search-box input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.icici {
  position: absolute;
}

.searchedFlights-below {
  position: absolute;
  top: 55%;
  color: white;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Flights Component CSS */

.flights-container {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
  margin: 30px;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* background-color: whitesmoke; */
}

.Best-Flights {
  text-align: center;
  color: red;
}

/* Login Component CSS */

/* src/Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  height: 90%;
  width: 30%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #f9f9f9;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
  width: 220px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 180px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.google-login {
  margin-top: 20px;
  display: flex;
  cursor: pointer;
}

.google-icon {
  margin-right: 10px;
}

#pop_airlines {
  height: 30%;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the customer profile container */
.Profile {
  width: 770px;
  margin: 0px 250px;
  padding: 20px;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
}

#back-arrow {
  position: absolute;
  left: 4%;
  top: 6%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.bookingCard {
  width: 300px;
  margin: 20px 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  border: 1px solid transparent;
  border-radius: 9px;
  cursor: pointer;
}

/* .booking-details li {
    list-style: none;
} */

.booking-details {
  margin: 0px 230px;
  /* border: 2px solid black; */
  /* display: flex;
    flex-direction: column; */
  width: 350px;
}

.Booking-Labels {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Profile-heading {
  margin-bottom: 10px;
}

/* Styling for customer name and mobile number */
.Profile-heading {
  margin: 5px 0;
}

/* Styling for the bookings list */
/* .Bookings-Heading {
    margin: 15px 0;
} */

.Profile-UL {
  padding: 0;
}

.Profile-li {
  margin-bottom: 5px;
  list-style: none;
}

/* Styling for each booking */
.Profile-li:before {
  /* content: "- "; */
}

/* .booking-card-container {
    width: 200px;
    background-color: antiquewhite;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

.bookings-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* Profile card css */

.ProfileCard {
  position: relative;
  width: 60%;
  margin-left: 250px;
  color: white;
}

#BackgroundImgProfile {
  border: 1px solid transparent;
  /* border-radius: 10px; */
}

.ProfileDetails {
  position: absolute;
  top: 0;
  left: 2%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ProfileImage {
  margin-left: 490px;
}

/* My booking components */

/* form errors*/

.formErrors {
  color: red;
}

#WrongIDPass {
  background-color: red;
  color: white;
  padding: 7px;
  border: 2px solid transparent;
  border-radius: 5px;
}

#CloseModalBtn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 4%;
  right: 5%;
  cursor: pointer;
}

.sortByHeading {
  display: inline;
  margin-right: 10px;
}

/* Sign up css */

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.sign-up h3 {
  color: green;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.signup-details {
  margin-bottom: 20px;
  display: block;
}
.sign-up p {
  color: red;
}
